<div class="bg-white h-14 flex align items-center shadow-sm">
  <div class="container mx-auto text-xl w-full flex items-center">
    <div class="w-1/2 flex items-center">
      <div><span class="font-bold">Ryu-</span>Dev</div>
      <div>
        <ul class="flex space-x-6 justify-center ml-32">
          <li>
            <a routerLink="" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a routerLink="/menu" routerLinkActive="active">Menu</a>
          </li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        </ul>
      </div>
    </div>
    <div class="w-1/2 flex justify-end">
      <ul class="flex space-x-3">
        <li class="bg-black-500">
          <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
        </li>
        <li>
          <div class="flex items-center bg-black rounded">
            <mat-icon class="mx-1" style="color: white">search</mat-icon>
            <input
              class="border-2 rounded-md transition-all ease-in-out border-solid border-black outline-none"
              placeholder="search..."
            />
          </div>
        </li>
        <li>
          <div
            (click)="logout()"
            class="bg-white border-2 border-solid border-black rounded-md px-3 hover:bg-black hover:text-white transition-colors ease-in-out"
          >
            Logout
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
