<div class="h-screen w-full flex">
  <div class="w-3/4 h-full bg-black relative">
    <img src="assets/main.jpg" />
    <div class="absolute top-[250px] left-[120px]">
      <div class="text-5xl">
        <span class="font-bold"> Fresh </span>
        And
        <span class="font-bold"> Delecious Foods </span>
        <br />
        Just For
        <span class="font-bold"> You. </span>
      </div>
    </div>
  </div>
  <div class="w-2/4 h-full flex items-center justify-center">
    <div
      class="bg-white h-[500px] w-[450px] rounded-md shadow-2xl p-5 relative"
    >
      <div class="font-bold text-3xl text-center mt-10">LOGIN</div>
      <div class="flex flex-col px-8">
        <mat-form-field appearance="standard">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Username" type="password" />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <!-- button submmit -->
        <div
          class="border border-solid border-black py-1 rounded-md text-center text-xl hover:bg-black hover:text-white transition"
        >
          Submit
        </div>
      </div>
      <div
        class="py-2 bg-black absolute w-full bottom-0 left-0 rounded-md text-white flex items-center justify-center text-xl"
      >
        © Ryu-Dev
      </div>
    </div>
  </div>
</div>
