<div class="h-screen w-full flex">
  <div class="w-3/4 h-full bg-black relative">
    <img src="assets/main.jpg" />
    <div class="absolute top-[250px] left-[120px]">
      <div class="text-5xl">
        <span class="font-bold"> Fresh </span>
        And
        <span class="font-bold"> Delecious Foods </span>
        <br />
        Just For
        <span class="font-bold"> You. </span>
      </div>
    </div>
  </div>
  <div class="w-2/4 h-full flex items-center justify-center">
    <div
      class="bg-white h-[500px] w-[450px] rounded-md shadow-2xl p-5 relative"
    >
      <div class="font-bold text-3xl text-center mt-10">LOGIN</div>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        class="flex flex-col px-8"
      >
        <!-- username input -->
        <mat-form-field appearance="standard">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput placeholder="Username" />
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="loginForm.invalid">
            <ng-container> Required</ng-container>
          </mat-error>
        </mat-form-field>

        <!-- password input -->
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            placeholder="Password"
            [type]="isShowPassword ? 'text' : 'password'"
          />
          <mat-icon
            (click)="isShowPassword = !isShowPassword"
            matSuffix
            class="hover:opacity-50 cursor-pointer"
            >{{ isShowPassword ? "visibility" : "visibility_off" }}</mat-icon
          >
          <mat-error *ngIf="loginForm.invalid">
            <ng-container> Required</ng-container>
          </mat-error>
        </mat-form-field>

        <!-- submi button -->
        <button
          [disabled]="isLoading"
          type="submit"
          class="disabled:bg-white disabled:text-black flex items-center space-x-3 justify-center mt-2 border border-solid border-black py-1 rounded-md text-xl hover:bg-black hover:text-white transition"
        >
          <mat-spinner *ngIf="isLoading" diameter="20" color=""></mat-spinner>
          <span *ngIf="isLoading"> Loading... </span>
          <span *ngIf="!isLoading"> Submit </span>
        </button>
      </form>
      <div
        class="py-2 bg-gray-400 absolute w-full bottom-0 left-0 rounded-md text-white flex items-center justify-center text-xl"
      >
        © Ryu-Dev
      </div>
    </div>
  </div>
</div>
