<div class="relative mb">
  <img src="/assets/main.jpg" class="h-[450px] w-full object-cover" />
  <div class="absolute top-1/3 left-1/4">
    <div class="text-5xl">
      <span class="font-bold"> Fresh </span>
      And
      <span class="font-bold"> Delecious Foods </span>
      <br />
      Just For
      <span class="font-bold"> You. </span>
    </div>
    <div
      class="cursor-pointer mt-3 bg-transparent w-fit border-2 border-solid border-black rounded-md px-3 hover:bg-black hover:text-white transition-colors ease-in-out text-xl"
    >
      See All Menu.
    </div>
  </div>
</div>
<!-- content -->
<div class="container mx-auto mb-10">
  <div class="text-xl mt-5">
    <span class="font-bold"> Recommended </span>
    Menu
  </div>
  <div>
    <div class="flex space-x-5">
      <!-- cards -->

      <div
        *ngFor="let item of item"
        class="w-1/5 mt-5 bg-white rounded-md h-fit shadow-xl"
      >
        <!-- image food/drinks -->
        <div class="h-2/3 relative">
          <img src="/assets/1.png" />
          <mat-icon class="absolute top-2 right-2" style="color: red"
            >favorite</mat-icon
          >
        </div>
        <!-- content foods -->
        <div class="h-1/3 p-2 text-lg">
          <span class="block font-bold">Burger Combo Bom</span>
          <div class="flex items-start">
            <span class="w-1/2">Rp 100.000</span>
            <div class="w-1/2 flex">
              <mat-icon class="grade">grade</mat-icon>
              <mat-icon class="grade">grade</mat-icon>
              <mat-icon class="grade">grade</mat-icon>
              <mat-icon class="grade">grade</mat-icon>
              <mat-icon>grade</mat-icon>
            </div>
          </div>

          <div
            class="w-1/2 bg-green-500 text-center rounded-md text-white hover:opacity-80 ml-auto"
          >
            Buy
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
