<!-- Navbar -->
<div class="bg-white h-16 flex align items-center shadow-sm">
  <div class="container mx-auto text-xl w-full flex">
    <div class="w-1/2 flex justify-between">
      <div class="w-1/2"><span class="font-bold">Ryu-</span>Dev</div>
      <div class="w-1/2">
        <ul class="flex space-x-6 justify-center">
          <li>Home</li>
          <li>Services</li>
          <li>About</li>
        </ul>
      </div>
    </div>
    <div class="w-1/2 flex justify-end">
      <ul class="flex space-x-3">
        <li class="bg-black-500">
          <mat-icon>shopping_cart</mat-icon>
        </li>
        <li>
          <input placeholder="search" />
        </li>
        <li>Login</li>
      </ul>
    </div>
  </div>
</div>
