<div class="bg-white h-14 flex align items-center shadow-sm">
  <div class="container mx-auto text-xl w-full h-full flex items-center">
    <div class="w-1/2 flex items-center">
      <div><span class="font-bold">Ryu-</span>Dev</div>
      <div>
        <ul class="flex space-x-6 justify-center ml-32">
          <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a routerLink="/menu" routerLinkActive="active">Menu</a>
          </li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        </ul>
      </div>
    </div>
    <div class="w-1/2 flex justify-end">
      <ul class="flex space-x-3">
        <li class="bg-black-500">
          <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
        </li>
        <li>
          <div class="flex items-center bg-black rounded">
            <mat-icon class="mx-1" style="color: white">search</mat-icon>
            <input
              class="border-2 rounded-md transition-all ease-in-out border-solid border-black outline-none"
              placeholder="search..."
            />
          </div>
        </li>

        <li class="flex flex-col relative">
          <div
            class="bg-gray-100 shadow-md hover:opacity-50 px-2 py-[5px] rounded-md flex items-center transition-all"
            (click)="isOpen = !isOpen"
          >
            <div class="w-[150px] h-[24px]">
              <p class="truncate">
                {{ data?.nickName + " " + data?.lastName }}
              </p>
            </div>
            <mat-icon class="material-icons-outlined">person</mat-icon>
            <mat-icon *ngIf="!isOpen">expand_more</mat-icon>
            <mat-icon *ngIf="isOpen">expand_less</mat-icon>
          </div>

          <!-- custom dropdown -->
          <div
            [ngClass]="[
              'bg-white shadow-lg flex items-center absolute top-10 left-0 w-full z-10 h-9 transition-all',
              isOpen ? 'scale-100 visible' : 'scale-0 invisible'
            ]"
          >
            <li
              class="flex justify-between px-2 py-[5px] hover:opacity-75 transition-all bg-black text-white w-full h-full"
              (click)="logout()"
            >
              <div>Logout</div>
              <mat-icon>logout</mat-icon>
            </li>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
