<div class="h-screen flex">
  <!-- image -->
  <div class="w-1/2 flex bg-white items-center h-full justify-center">
    <img src="/assets/addItem.png" />
  </div>

  <!-- form input data -->
  <div class="w-1/2 h-full">
    <div class="flex justify-end px-5">
      <button
        class="opacity-60 hover:opacity-100 outline-none"
        (click)="closeModal()"
      >
        <mat-icon class="material-symbols-outlined"> close </mat-icon>
      </button>
    </div>
    <div
      class="mt-5 mx-auto text-4xl w-fit text-center p-3 border-b-2 border-solid border-black"
    >
      Add New Item
    </div>
    <div class="w-fit mx-auto rounded-lg shadow-lg bg-white p-10 mt-5">
      <form
        class="mx-auto flex flex-col w-[400px]"
        [formGroup]="addItemForm"
        (submit)="addItem()"
      >
        <mat-form-field appearance="legacy">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput placeholder="Name Item" />
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Type Product</mat-label>
          <input
            formControlName="productType"
            matInput
            placeholder="Type Product"
          />
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Harga</mat-label>
          <input
            formControlName="normalPrice"
            matInput
            type="number"
            class="example-right-align"
            placeholder="10000"
          />
          <span matPrefix>Rp&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Description</mat-label>
          <textarea
            formControlName="itemDescription"
            matInput
            placeholder="Descirption item"
            style="height: 100px"
          ></textarea>
        </mat-form-field>
        <!-- image input -->
        <label class="flex items-center box-border h-[26px]">
          <div
            class="bg-gray-700 h-full p-1 w-1/3 rounded-l-md text-white text-center hover:opacity-70 transition-opacity"
          >
            Choose File
          </div>
          <div
            class="border solid border-l-0 rounded-r-md border-gray-300 h-full w-full flex items-center hover:border-black transition-all"
          >
            <span class="ml-2">{{
              imageFile?.name ? imageFile?.name : ""
            }}</span>
          </div>

          <input
            (change)="imageHandler($event)"
            formControlName="image"
            class="hidden"
            type="file"
          />
        </label>
        <button
          type="submit"
          class="bg-green-500 opacity-60 hover:opacity-100 text-white text-xl px-10 transition-all w-fit mt-2 self-end rounded-sm"
        >
          Add
        </button>
      </form>
    </div>
  </div>
</div>
